<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                                http://www.springframework.org/schema/context
                                http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!--数据源-->
 <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
     <property name="driverClass" value="com.mysql.jdbc.Driver"/>
     <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mybatis"/>
     <property name="user" value="root"/>
     <property name="password" value="root"/>
     <property name="maxPoolSize" value="10"/>
     <property name="initialPoolSize" value="3"/>
     <property name="acquireIncrement" value="2"/>

 </bean>
    <!-- 该 BeanPostProcessor 将自动对标注 @Autowired 的 Bean 进行注入 -->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <context:component-scan base-package="springdemo.dao,springdemo.service"/>


<bean id="sf" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="datasource" ref="datasource"/>
</bean>
</beans>

